



.body-login{
    display: flex;
    flex-direction: row;
}

.add-body{
    text-align: center;
}

.add-body>div{
    text-align: left;
    padding: 4em;

}

.add-heading {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.add-subheading {
    color : gray;
}
